* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(131, 156, 131);
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 40px;
  /* margin-bottom: 40px; */
  padding-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.first {
  color: blue;
}

#your-name {
  background-color: rgb(180, 176, 184);
  border: 1px solid rgb(77, 85, 77);
  width: 400px;
  padding: 25px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: yellowgreen;
}

#avatar {
  height: 300px;
}

/* child sector */
#your-name h2 {
  color: olive;
  font-size: 20px;
}
